umask = 0o22

[data]
email = "t@utologi.cc"
name = "F. Emerson"
user = "tautologicc"

[git]
autoCommit = true
autoPush = true

[hooks.read-source-state.pre]
command = {{ joinPath .chezmoi.sourceDir ".install-bitwarden-cli" | quote }}
