{{- $username := promptStringOnce . "username" "username" -}}
{{- $name := promptStringOnce . "name" "name" -}}
{{- $email := promptStringOnce . "email" "email" -}}

umask = 0o22

[data]

[data.my]
email = {{ $email | quote }}
name = {{ $name | quote }}
username = {{ $username | quote }}

[git]
autoCommit = true
autoPush = true

[hooks.read-source-state.pre]
command = {{ joinPath .chezmoi.sourceDir ".install-bitwarden-cli" | quote }}
