brew "age"
brew "chezmoi"
brew "jq"
brew "mas"
#brew "oil"
brew "pinentry-mac"
brew "rbw", conflicts_with: ["bitwarden-cli"]
brew "tree"

cask "ableton-live-suite@11"
cask "dash"
cask "disk-inventory-x"
cask "dupeguru"
cask "iina"
cask "ivpn"
cask "keymapp"
cask "languagetool"
cask "linearmouse"
cask "little-snitch"
cask "micro-snitch"
cask "logseq"
cask "orion"
cask "stremio"
cask "sublime-merge"
cask "sublime-text"
cask "tev"

mas "Bitwarden", id: 1352778147
mas "Pinstachio for Pinboard", id: 1535386074
mas "The Unarchiver", id: 425424353


tap "jorgelbg/tap", "https://github.com/jorgelbg/homebrew-tap"
brew "pinentry-touchid"
