tap "jorgelbg/tap", "git@github.com:jorgelbg/tap" # pinentry-touchid

brew "age"
brew "chezmoi"
brew "jq"
brew "mas"
#brew "oil"
brew "pinentry-mac"
brew "pinentry-touchid"
brew "rbw", conflicts_with: ["bitwarden-cli"]
brew "tree"

cask "ableton-live-suite@11"
cask "dash"
cask "disk-inventory-x"
cask "dupeguru"
cask "iina"
cask "ivpn" # @private
cask "keymapp"
cask "languagetool" # @private
cask "linearmouse"
cask "little-snitch"
cask "micro-snitch"
cask "logseq"
cask "orion"
cask "parsec" # @work
cask "stremio" # @private
cask "sublime-merge"
cask "sublime-text"
cask "tev"
cask "zoom" # @work

mas "Bitwarden", id: 1352778147
mas "Pinstachio for Pinboard", id: 1535386074
mas "The Unarchiver", id: 425424353
