{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
#!/bin/sh -eu
crontab - <<EOF
0 6 * * * /bin/sh -c 'eval "\$(/opt/homebrew/bin/brew shellenv)" && brew upgrade' >/dev/null
EOF
{{ end -}}
