{
  "theme": null,
  "themes": {
    "mode": "light",
    "light": {
      "name": "miA Quattro",
      "url": "assets:///{{ .chezmoi.homeDir }}/.logseq/plugins/logseq-mia-theme/mia_quattro.css",
      "description": "A theme inspired by macOS and iA Writer.",
      "pid": "logseq-mia-theme",
      "group-first": false,
      "group-desc": null,
      "mode": "light",
      "selected": true
    }
  },
  "externals": [],
  "pinnedToolbarItems": []
}
