{{$cfg := "/etc/pam.d/sudo" -}}
{{if and (output "sh" "-c" "grep pam_tid.so $1 || true" "" $cfg | empty) (output "head" "-n1" $cfg | eq "# sudo: auth account password session") -}}
{{	range $i, $lib := glob "/usr/lib/pam/pam_tid.so*" -}}
{{		$cfg = quote $cfg -}}
#!/bin/sh
set -eux
sudo chmod u+w {{$cfg}}
sudo ed -s {{$cfg}} <<EOF
1a
auth       sufficient     pam_tid.so
.
wq
EOF
sudo chmod u-w {{$cfg}}
{{- 		break}}
{{- 	end}}
{{- end}}
