#!/usr/bin/env HOMEBREW_NO_ENV_HINTS=1 /bin/sh -eux
eval "$(/opt/homebrew/bin/brew shellenv || /usr/local/bin/brew shellenv)"
brew bundle --cleanup --global --no-lock --quiet --zap
mas upgrade

# {{include "dot_Brewfile.tmpl" | cat (now | date "02 January 2006") | sha256sum}}
