#!/bin/sh
set -eux

osascript -e 'tell application "System Preferences" to quit'

sudo nvram
{{- range $key, $value := .darwin.nvram -}}
{{- 	" " -}}
{{- 	list $key $value | join "=" | quote -}}
{{- end }}

# TODO(ttlgcc): Support arrays.
{{ range $domain, $keys := .darwin.defaults -}}
{{- 	$defaults := hasPrefix "/" $domain | ternary "sudo defaults" "defaults" -}}
{{- 	range $key, $value := $keys -}}
{{- 		$type := kindOf $value | trimSuffix "64" -}}
{{$defaults}} write {{$domain | quote}} {{$key | quote}} -{{$type}} {{$value | quote}}
{{ 	end -}}
{{- end }}

killall
{{- range .darwin.killall -}}
{{- 	" " -}}
{{- 	quote . -}}
{{- end }}
