{{$hostname := quote .my.hostname -}}
#!/bin/sh
set -eux

sudo scutil --set ComputerName {{$hostname}}
sudo scutil --set HostName {{$hostname}}
sudo scutil --set LocalHostName {{$hostname}}
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName {{$hostname}}
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server ServerDescription {{$hostname}}
dscacheutil -flushcache
