#!/bin/sh
set -eux

osascript -e 'tell application "System Preferences" to quit'

sudo nvram
{{- range $key, $val := .darwin.nvram}}
{{- 	" "}}
{{- 	list $key $val | join "=" | quote}}
{{- end}}

{{- range $domain, $keys := .darwin.defaults}}
{{- 	$defaults := hasPrefix "/" $domain | ternary "sudo defaults" "defaults" }}
{{$defaults}} delete {{quote $domain}}
{{- 	range $key, $val := $keys}}
{{- 		$type := kindOf $val | trimSuffix "64"}}
{{- 		if eq $type "slice"}}
{{- 			$type = "array"}}
{{-		else}}
{{- 			$val = list $val}}
{{- 		end}}
{{$defaults}} write {{quote $domain}} {{quote $key}} -{{$type}}
{{- 		range $val}} {{quote .}}{{end}}
{{- 	end}}
{{- end}}

killall
{{- range .darwin.killall}}
{{- 	" "}}
{{- 	quote .}}
{{- end}}
