{{$basePath := "/usr/bin" -}}
{{if eq .chezmoi.os "darwin" -}}
{{	$brewPath := eq .chezmoi.arch "arm64" | ternary "/opt/homebrew" "/usr/local" -}}
{{	$basePath = joinPath $brewPath "opt/llvm/bin" -}}
{{end -}}
{
	"system_binary": {{joinPath $basePath "clangd" | quote}},
}
