{{$brewPrefix := output "brew" "--prefix" | trim -}}
{{- $pinentryTouchId := joinPath $brewPrefix "opt" "pinentry-touchid" "bin" "pinentry-touchid" -}}
{{- if isExecutable $pinentryTouchId -}}
pinentry-program {{$pinentryTouchId}}
{{- end}}
