#!/bin/sh
set -eux

{{$brew := "/usr/local/bin/brew" -}}
{{if isExecutable $brew | not -}}
{{	$brew = "/opt/homebrew/bin/brew" -}}
{{end -}}
command -v brew >/dev/null || eval "$({{$brew}} shellenv)"
HOMEBREW_NO_ENV_HINTS=1 brew bundle --no-lock --quiet {{.}}
mas upgrade
