#!/bin/sh
set -eux

export HOMEBREW_NO_ENV_HINTS=1

{{$brewPath := eq .chezmoi.arch "arm64" | ternary "/opt/homebrew" "/usr/local"}}
{{$brew := joinPath $brewPath "bin/brew" | quote}}
command -v brew >/dev/null || eval "$({{$brew}} shellenv)"
{{$brew}} bundle --no-lock --quiet {{.}}

mas upgrade
